<p>Hello Mr. <a href="" ng-click="generateUsername()">{{username}}</a>.
  <span ng-hide="firstTimeHere">Nice to see you again.</span>
</p>

<a href="" ng-click="showForm = !showForm">Make post</a>
<div ng-show="showForm">
  <form ng-submit="addNewPost()">
	<table>
	<tr><td>Title here:</td>
	    <td><input ng-model="new.title" placeholder="^_^"></input></td>
    <tr></tr>
	    <td>Text here:</td>
	    <td>
		  <my-expandable my-model="new.text"></my-expandable>
		</td>
    <tr></tr>
	    <td>Code here:</td>
		<td>
		  <my-expandable my-model="new.code"></my-expandable>
		</td>
    <tr></tr>
	    <td>Image here:</td>
		<td><input ng-model="new.img" placeholder="http://pic.jpg"></input></td>
    <tr></tr>
		<td></td>
	    <td><button>Show to friends!</button></td>
	</tr></table>
  </form>
</div>

<div my-paginator></div>

<hr ng-repeat-start=
	"x in posts | likedBy:username | orderBy:'i':true | startFrom:currentPage*pageSize | limitTo:pageSize">
<div ng-repeat-end>
  <button ng-click="deletePost(x)" style="float: right">X</button>
  <h2  ng-if="x.title">{{x.title}}</h2>
  <p   ng-if="x.text">{{x.text}}</p>
  <pre ng-if="x.code">{{x.code}}</pre>
  <img ng-if="x.img"
	   ng-src="{{x.img}}"></img>

  <small ng-if="x.deletedBy"><i>Disliked by {{x.deletedBy | joinBy:' ,  '}}</i></small>
</div>

<div my-paginator ng-show="posts.length"></div>
