<p class="greeting">
  Hello Mr. <a href="" ng-click="generateUsername()">{{username}}</a>.
  <span ng-hide="firstTimeHere">Nice to see you again.</span>
</p>

<a href="" ng-click="showForm = !showForm">Make post</a>
<div ng-show="showForm">
  <form ng-submit="addNewPost()">
	<table>
	<tr><td>Title here:</td>
	    <td><input ng-model="newPost.title" placeholder="^_^"></input></td>
    <tr></tr>
	    <td>Text here:</td>
	    <td>
		  <my-expandable my-model="newPost.text" my-submit="addNewPost()"></my-expandable>
		</td>
    <tr></tr>
	    <td>Code here:</td>
		<td>
		  <my-expandable my-model="newPost.code" my-submit="addNewPost()"></my-expandable>
		</td>
    <tr></tr>
	    <td>Image here:</td>
		<td><input ng-model="newPost.img" placeholder="http://pic.jpg"></input></td>
    <tr></tr>
		<td></td>
	    <td><button ng-mousedown="addNewPost()">Show to friends!</button></td>
	</tr></table>
  </form>
</div>

<div my-paginator></div>

<hr ng-repeat-start="x in posts | orderByPriority | notDislikedBy:username | reverse |
					 startFrom:currentPage*pageSize | limitTo:pageSize track by $index">
<div ng-repeat-end>
  <small style="float: right">
	<a href="" ng-click="addToPostField(x,'likedBy')">
	  perfect{{x.likedBy | lenInBrackets }}</a>
	<br>
	<a style="color:black" href="" ng-click="addToPostField(x,'dislikedBy')">
	  shit{{x.dislikedBy | lenInBrackets }}</a>
	<br>
	<a style="color:gray" href="" ng-click="addToPostField(x,'deletedBy')">
	  can't see{{x.deletedBy | lenInBrackets }}</a>
  </small>

  <h2  ng-if="x.title">{{x.title}}</h2>
  <p   class="post" ng-if="x.text">
  	<span ng-bind-html="x.text | markdown"></span>
  </p>
  <pre ng-if="x.code">{{x.code}}</pre>
  <img ng-if="x.img"
	   ng-src="{{x.img}}"
	   ng-style="{'max-width': '950px'}"></img>

  <p>
	<small ng-if="x.deletedBy" style="color: gray"><i>Deleted by {{x.deletedBy | joinBy:' ,  '}}</i></small>
	<br ng-if="x.deletedBy">
	<small ng-if="x.dislikedBy" style="color: gray"><i>Disliked by {{x.dislikedBy | joinBy:' ,  '}}</i></small>
	<br ng-if="x.dislikedBy">
    <small ng-if="x.likedBy" style="color: gray"><i>Liked by {{x.likedBy | joinBy:' ,  '}}</i></small>
  </p>

  <!-- TODO: factor out comments into separate directive -->
  <div class="comments-container">
	<p class="comment" ng-repeat="y in x.comments track by $index">
		<span ng-bind-html="y.text | markdown"></span>
	</p>
	<textarea class="commentTextarea"
	          ng-if="x.$id === editCommentId"
			  ng-model="$parent.$parent.newComment.text"
			  ng-keydown="commentOnCtrlEnter($event, x)"
			  ng-focus="editCommentFocus()"
			  ng-blur="editCommentBlur()">
	</textarea>
	<button ng-if="x.$id === editCommentId"
			ng-mousedown="addComment(x)">Post</button>
	<small><a href=""
			  ng-if="x.$id !== editCommentId"
			  ng-mousedown="setEditCommentId(x.$id)">your opinion here</a></small>
  </div>
</div>

<div my-paginator ng-show="posts.length > 1"></div>
